* {
  margin: 0 auto;
  padding: 0
}
/* App.js */
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

.appContainer {
  margin: 25px auto;
  padding: 0;
}
.row {
  padding: 25px;
}

@media (min-width: 576px) {
  .card-columns {
    column-count: unset !important;
  }
}

h4 {
  text-align: center;
  color: #7da7c5;
  font-weight: bold;
}
/* Common for Table and Form */
#Table,#Form {
  padding-top: 15px;
}
/* Table.js */
th,td {
  text-transform: capitalize;
  text-align: center;
}
/* Form.js */
.submitButton {
  text-align: center !important;
}
